body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;

}

header {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: #f39c12;
    box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 30%);
}

header .logo {
    color: green;
    font-size: 2rem;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

span {
    color: white;
    font-size: large;
}

.x {
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 0px 25px;
    height: 36px;
    align-items: center;
    right: 0;
    top: 0;
    font-weight: bolder;
    font-size: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #878787;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c1c1c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.lessonContainer {
    display: flex;
    flex-direction: column;
    height: 387px;
    overflow-y: scroll;
}

.lessonBtn {
    padding: 10px;
    background: #f39c12;
    border: none;
    box-shadow: none;
    font-size: 18px;
    margin: 5px 0;

}


.lessonTimer {
    margin-left: 25px;
}

.checkBox {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    display: inline  ;

}

footer {
    background-color: #f39c12;
    margin: 0px 20px;
    padding: 15px;
    margin-top: 100px;
    box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 30%);
}

iframe {
    width: 900px;
    height: 480px;
}

.lessons {
    background-color: white;
    width: 300px;
    float: right;
    padding: 10px;
}
h2 {
    padding-left: 40px;
}
#first{

    background-color: #f39c12;
}
/* 
ul {
    margin: 0px;
    margin-top: 5px;
    height: 380px;
    overflow-y: scroll;
    list-style: none;
} */

/* .inlesson {
    background-color: #f39c12;
    width: 150px;
    padding: 10px 60px;
    margin: -10px 0px -7px -35px;
    color: #232323;
    border: white solid 3px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
} */

/* .chk {
    position: relative;
    top: 25px;
} */


/* hr {
    background-color: #232323;
    width: 100%;
    margin: 0px;
} */

/* .time {
    margin: 0px 0px -10px 5px;
} */

/* .fa-play {
    margin-left: 150px;
    color: #232323;
} */

a {
    text-decoration: none;
    color: #232323;

}